.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}



body{
  background-color:#ffe6e6;
}

.navbar{
  margin-bottom:50px;
}

#div1 {
  margin-top: 80px;
}

.line {
  fill: none;
  stroke: #990000;
  stroke-width: 2.5px;
}
